<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="promo">
  <ion-item>
    <ion-icon name="cafe-outline" color="primary"></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>{{ promo.title }}</h2>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h3>Dirección: {{ promo.address }}</h3>
    <h3>Precio: {{ promo.price }}</h3>
    <h3>Latitud: {{ promo.latitude }}</h3>
    <h3>Longitud: {{ promo.longitude }}</h3>    
  </div>
</ion-content>
